<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - E-Commerce</title>
    <link rel="stylesheet" href="/about-us.css">
</head>
<body>
<header>
    <nav>
        <ul>

            <li th:if="${#authorization.expression('isAuthenticated()')}"><a  th:href="@{/user-page}">Home</a></li>
            <li th:unless="${#authorization.expression('isAuthenticated()')}" ><a  th:href="@{/}">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
            <li><a  th:href="@{/about-us}">About Us</a></li>


        </ul>
    </nav>
</header>

<section class="about-us">
    <h1>About Us</h1>
    <div class="content">
        <div class="text">
            <p>Welcome to our e-commerce store, where we offer the best products at affordable prices. Our team is dedicated to providing an exceptional online shopping experience with top-notch customer service and fast delivery. We believe in quality, trust, and making shopping convenient for you.</p>
            <p>Our journey started with a simple idea: to make high-quality products accessible to everyone. With a commitment to excellent customer service, we have become a trusted name in the online shopping world. Explore our wide range of products, and we hope to make your shopping experience enjoyable!</p>
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2025 E-Commerce, All rights reserved.</p>
</footer>
</body>
</html>
